[Unit]
Description=VK BOT
After=network.target

[Service]
User=root

WorkingDirectory=/usr/local/bin/bot/
Environment="PYTHONPATH=/usr/local/bin/bot/bot_main.py"
ExecStart=/usr/bin/python3 /usr/local/bin/bot/bot_main.py
 
[Install]
WantedBy=multi-user.target
